.categorybutton{
    height: 400px;
    width:60%;
    border-radius: 5%;
    font-family: 'Segoe UI';
    background-color:  #ffe681;
    border-color:#ffe681 ;
    font-size: larger;
    color: #FFE26E;
    font-weight: 600;
}
.table{
    font-weight: 400;
    font-size: large;
}
.col-md-3{
    font-size: large;
}
